In [ ]:
## what is the probability of deley happens at certain station/time, to predict how many minutes will be deley?

In [1]:
import pandas as pd

# Read the CSV

In [30]:
# the dataset used contains all delays under 30 mins. 
df = pd.read_csv("../Data/ttc_subway_delay_2018_2019.csv", encoding='unicode_escape')
# Drop the null columns where all values are null
df.shape

(13732, 20)

In [32]:
# Drop the null columns where all values are null
df= df.dropna(axis='columns', how='all')
df.head(2)

,id,date,time,day,station,code,min_delay,min_gap,bound,line,vehicle,code_info,latitude,longitude,line_name,month,time_range,month_number,hour,year
0,1,1/1/2019,3:03,Tuesday,DUPONT STATION,MUATC,11,16,N,YU,6061,ATC Project,43.674584,-79.40683,Yonge University Spadina,January,9PM-1:30AM,1,3,2019
1,2,1/1/2019,3:08,Tuesday,EGLINTON WEST STATION,EUATC,11,16,S,YU,5656,ATC RC&S Equipment,43.699209,-79.435819,Yonge University Spadina,January,9PM-1:30AM,1,3,2019

In [31]:
# Drop the null columns where all values are null
df= df.dropna(axis='rows', how='all')
df.describe()

,id,min_delay,min_gap,vehicle,latitude,month_number,hour,year
count,13732.000000,13732.000000,13732.000000,13732.000000,13253.000000,13732.000000,13732.000000,13732.000000
mean,6866.500000,6.641931,9.850495,5189.117536,43.703612,6.382391,12.829231,2018.486164
std,3964.231283,12.015825,12.137669,1198.676152,0.045908,3.438495,5.963210,0.499827
min,1.000000,2.000000,0.000000,0.000000,43.637222,1.000000,0.000000,2018.000000
25%,3433.750000,3.000000,6.000000,5144.000000,43.667222,3.000000,8.000000,2018.000000
50%,6866.500000,4.000000,8.000000,5416.000000,43.687778,6.000000,13.000000,2018.000000
75%,10299.250000,6.000000,10.000000,5796.000000,43.734167,9.000000,18.000000,2019.000000
max,13732.000000,515.000000,519.000000,8065.000000,43.794167,12.000000,23.000000,2019.000000

# Data Cleaning

In [34]:
df_YU = df1[df1['line']=='YU']
df_YU.shape

(7061, 20)

In [25]:
data_YU = df_YU[['min_delay','hour','station','day','code']]
data_YU

       min_delay  hour                station      day   code
0             11     3         DUPONT STATION  Tuesday  MUATC
1             11     3  EGLINTON WEST STATION  Tuesday  EUATC
2              6     3         DUPONT STATION  Tuesday  EUATC
3              4     3  ST CLAIR WEST STATION  Tuesday  EUATC
4              5     8     DAVISVILLE STATION  Tuesday  MUNOA
...          ...   ...                    ...      ...    ...
13723          3    15          FINCH STATION   Monday   MUIE
13725          3    16    SPADINA YUS STATION   Monday  PUSTC
13726          3    18  EGLINTON WEST STATION   Monday  EUATC
13730          5    21    SPADINA YUS STATION   Monday  PUSTC
13731          3    22         DUNDAS STATION   Monday   SUDP

[7061 rows x 5 columns]

In [36]:
data_YU.describe()

         min_delay         hour         Time
count  7061.000000  7061.000000  7061.000000
mean      6.407308    12.732757    16.495397
std      10.398577     5.968813     6.643823
min       2.000000     0.000000     7.000000
25%       3.000000     8.000000    11.000000
50%       4.000000    13.000000    16.000000
75%       6.000000    17.000000    21.000000
max     269.000000    23.000000    30.000000

In [27]:
data_YU['Time'] = data_YU['hour'].apply(lambda x: x if x > 6 else x+24)
data_YU.head(5)

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   min_delay  hour                station      day   code  Time
0         11     3         DUPONT STATION  Tuesday  MUATC    27
1         11     3  EGLINTON WEST STATION  Tuesday  EUATC    27
2          6     3         DUPONT STATION  Tuesday  EUATC    27
3          4     3  ST CLAIR WEST STATION  Tuesday  EUATC    27
4          5     8     DAVISVILLE STATION  Tuesday  MUNOA     8

In [31]:
data.dtypes

id                int64
date             object
time             object
day              object
station          object
code             object
min_delay         int64
min_gap           int64
bound            object
line             object
vehicle           int64
code_info        object
latitude        float64
longitude        object
line_name        object
month            object
time_range       object
month_number      int64
hour              int64
year              int64
Hour              int64
Time              int64
dtype: object

In [32]:
from datetime import datetime
todays_date = datetime.now()

# to get hour from datetime
print('Hour: ', todays_date.hour)

# to get minute from datetime
print('Minute: ', todays_date.minute)

Hour:  9
Minute:  58

In [28]:
//data['time'] = data['time'].astype(float)

SyntaxError: invalid syntax (<ipython-input-28-00f2bf3a773c>, line 1)

In [8]:
data['time'].datetime.hour + data['time'].datetime.minute/60

AttributeError: 'Series' object has no attribute 'datetime'

In [30]:
bins = [0,6,10,16,19,22,29]
labels= [0-6,7-9,10-16,17-19,20-22,23-29]
data['Time_group']=pd.cut(data['Time'], bins, labels=labels)
data

ValueError: Categorical categories must be unique

#  Data Pre-Processing

In [7]:
y = data["min_delay"].values.reshape(-1, 1)
y

array([[11],
       [11],
       [ 6],
       ...,
       [ 5],
       [ 5],
       [ 3]], dtype=int64)

In [8]:
X = data[['time','day','station']]
X.tail()

        time     day                 station
13727  19:20  Monday        DONLANDS STATION
13728  20:19  Monday      SHERBOURNE STATION
13729  21:29  Monday  SCARBOROUGH CTR STATIO
13730  21:49  Monday     SPADINA YUS STATION
13731  22:36  Monday          DUNDAS STATION

In [9]:
print(X.shape, y.shape)

(13732, 3) (13732, 1)

In [10]:
datax = X.copy()

data_encoded= pd.get_dummies(datax)
data_encoded.head()

,time_0:00,time_0:01,time_0:02,time_0:03,time_0:04,time_0:05,time_0:06,time_0:07,time_0:08,time_0:09,...,station_WOODBINE STATION,station_YONGE BD STATION,station_YONGE BD STATION (LEAV,station_YONGE BLOOR BD STATION,station_YONGE BLOOR YUS STATION,station_YONGE SHP STATION,station_YONGE STATION,station_YORK MILLS STATION,station_YORK UNIVERSITY STATIO,station_YORKDALE STATION
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

In [45]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, random_state=1,stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.

In [ ]:
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)